<div class="container">
  <div id="right-side-modal">
    <div class="modal right fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalTitle">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a href="#" class="close text-decoration-none fs-22 text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <div id="articleActions" class="w-100 text-center">
            </div>
          </div>
          <div class="modal-body article-modal-body" id="articleContent">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>