<div class="col-md-12 mb-5 mt-5">
  <div class="row mt-5">
    <div class="col-md-6">
      <h2 class="mt-2 mb-0">{{title}}</h2>
    </div>
    <div class="col-md-6 text-end feed-count-div mt-3">
      <div class="col-md-12">
        <span>
          <span class="p-1 px-2 feed-count">
            {{feed_count}}
          </span>
          <span class="p-1 px-2 feed_check"><i class="fa-solid fa-check"></i></span>
        </span>
        <span class="p-1 px-2"><i class="fa-solid fa-list-ul"></i></span>
        <span class="p-1 px-2"><i class="fa-solid fa-rotate-right"></i></span>
        <span class="p-1 px-2"><i class="fa-regular fa-heart"></i></span>
        <span class="p-1 px-2"><i class="fa-solid fa-ellipsis"></i></span>
      </div>
    </div>
  </div>
</div>