<div class="col-md-12 mb-5 mt-2">
  <div class="row mt-2">
    <div class="col-md-6">
      <h2 class="mt-2 mb-0">{{title}}</h2>
    </div>
    <div class="col-md-6 text-end feed-count-div mt-3">
      <div class="col-md-12">
        <span>
          <span class="p-1 px-2 feed-count">
            {{feed_count}}
          </span>
          <span class="p-1 px-2 cursor-pointer feed_check"><i class="fa-solid fa-check"></i></span>
        </span>
        <span class="p-1 px-2 cursor-pointer"><i class="fa-solid fa-list-ul"></i></span>
        <span class="p-1 px-2 cursor-pointer"><i class="fa-solid fa-rotate-right"></i></span>
        {% if obj.type != 'all' %}
          <span class="p-1 px-2 cursor-pointer favorite-span" data-favorite="{{obj.favorite}}" data-id="{{obj.id}}" data-type="{{obj.type}}" onclick="heartClick();">
            {% if obj.favorite %}
              <i class="fa-solid fa-heart color-green"></i>
              {% else %}
              <i class="fa-regular fa-heart"></i>
            {% endif %}
          </span>
        {% endif %}
        <span class="p-1 px-2 cursor-pointer"><i class="fa-solid fa-ellipsis"></i></span>
      </div>
    </div>
  </div>
</div>

