{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="{{feed.image_url}}" width="100" class="rounded-circle" alt="{{feed.title}}"/>
        </div>

        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">{{feed_count}}</span>
          <h2 class="mt-2 mb-0">{{feed.title}}</h2>

          <div class="px-4 mt-1">
            <p class="fonts">{{feed.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
