<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    <title>Feedly Clone</title>

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'js/methods.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/folder.js' %}"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div id="sidebar">
          {% include 'sidebar.html' %}
        </div>
        <div id="content">
          {% include 'navbar.html' %}
          {% block content %}
          
          {% endblock %}
          {% include 'modals.html' %}
        </div>
      </div>
    </div>
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </body>
</html>