{% load static %}

<div class="px-sm-2 px-0 bg-light">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <div class="w-100 text-start ms-5 mt-4">
      <a class="text-decoration-none text-black-50" href="/">Feedly</a>
    </div>


    <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100 pb-4 mt-4" id="top-menu">
      <li class="nav-item">
        <a href="/" class="nav-link align-middle text-body fw-bold px-0">
          <i class="fa fa-house"></i> 
          <span class="ms-3 d-none d-sm-inline">Today</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'read_later' %}" class="nav-link align-middle p-2 text-body fw-bold px-0">
          <i class="fa-regular fa-bookmark"></i> <span class="ms-3 d-none d-sm-inline">Read Later</span>
        </a>
      </li>
    </ul>
    {% if favorite_categories.count > 0 or favorite_feeds.count > 0%}
      <span class="pb-3 pt-3 feed-heading favorite-heading">FAVORITE</span>
    {% else %}
      <span class="pb-3 pt-3 feed-heading favorite-heading d-none">FAVORITE</span>
    {% endif %}
    <div class="w-100" id="favorite-list">
      {% if favorite_categories.count > 0 or favorite_feeds.count > 0%}
        {% include 'sections/favorite.html' %}
      {% endif %}
    </div>
    <span class="pb-3 pt-3 feed-heading">FEEDS</span>
    <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100 pb-2 pt-2 text-dark" id="menu">
      <li class="nav-item w-100">
        <a href="{% url 'categories' %}" class="nav-link px-0 align-middle main-link text-body">
          <i class="fa-solid fa-bars fs-16"></i>
          <span class="ms-3 d-none d-sm-inline fw-bold fw-bold">All</span>
          <span class="text-muted float-end fs-10 p-1">
            {{total_feeds}}
          </span>
        </a>
      </li>
      {% for category in categories %}
        <li class="nav-item w-100">

         <span class="">
            {% if category.feeds.count > 0 %}
              <span href="#submenu{{category.pk}}" data-bs-toggle="collapse" class="text-dark float-start submenu mt-2">
                <i class="fa fa-chevron-down"></i>
              </span>
            {% endif %}
            <a href="{% url 'category' category.pk %}" class="nav-link px-0 align-middle main-link text-body">
              <span class="ms-3 d-none d-sm-inline fw-bold">{{category.name}}</span>
              <span class="text-muted float-end fs-10 p-1">
                {{category.total_feed_count}}
              </span>
            </a>
         </span>

          {% if category.feeds.count > 0 %}
            <ul class="collapse nav flex-column ms-1" id="submenu{{category.pk}}" data-bs-parent="#menu">
              {% for feed in category.feeds.all %}
                <li class="w-100">
                  <a href="{% url 'feed' feed.pk %}" class="nav-link px-0 align-middle main-link text-body fs-12">
                    <span class="text-dark p-1">
                      {% if feed.image_url != '' %}
                        <img src="{{feed.image_url}}" alt="{{feed.title}}" class="feed-img me-1">
                      {% else %}
                        <img src="{% static 'images/no-image.png' %}" alt="{{feed.title}}" class="feed-img me-1">
                      {% endif %}
                    </span>
                    <span class="d-none d-sm-inline">{{feed.title}}</span>
                    <span class="text-muted float-end fs-10 p-1">
                      {{feed.article_count}}
                    </span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      <li class="w-100">
        <a href="#" class="nav-link align-middle text-body px-4 mt-3 py-1">
          <span class="ms-1 d-none d-sm-inline" data-bs-toggle="modal" data-bs-target="#categoryModal">Create Category</span>
        </a>
      </li>
    </ul>
    <span class="pb-3 pt-3 feed-heading">BOARDS</span>
    <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100" id="top-menu">
      {% for board in boards %}
        <li class="nav-item w-100">
          <a href="{% url 'categories' %}" class="nav-link px-0 align-middle main-link text-body">
            <i class="fa-regular fa-star"></i>
            <span class="ms-3 d-none d-sm-inline fw-bold fw-bold">{{ board.title }}</span>
          </a>
        </li>
      {% endfor %}

      <li>
        <a href="#" class="nav-link align-middle text-body px-4 mt-3 py-1">
          <span class="ms-1 d-none d-sm-inline" data-bs-toggle="modal" data-bs-target="#boardModal">Create Board</span>
        </a>
      </li>
    </ul>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 py-4" id="top-menu">
      <li class="nav-item">
        <a href="{% url 'recently_read' %}" class="nav-link align-middle text-body fw-bold px-0">
          <i class="fa-regular fa-clock"></i>
          <span class="ms-1 d-none d-sm-inline">Recently Read</span>
        </a>
      </li>
    </ul>
    <hr>
    {% if request.user.is_authenticated %}
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">{{request.user.username}}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="{% url 'profile' %}">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
      </div>
    {% else %}
      <div class="dropdown pb-4">
        <a href="{% url 'login' %}" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="{% static 'images/avatar.svg' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1 px-3">Login</span>
        </a>
      </div>
    {% endif %}
  </div>
</div>
