{% extends 'accounts/base.html' %}

{% load static %}
{% load auth_tag %}

{% block content %}

<div class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'images/logo.png' %}" alt="logo">
					</div>
					<div class="card p-2">
            {% auth %}
              
            {% endauth %}
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Feedly Clone
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}